In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/logins_raw.csv")

In [3]:
df.head(10)

,Unnamed: 0,hour_of_day,country,device_type,login_success,sessions_per_hour
0,0,11,US,mobile,True,2
1,1,22,UK,mobile,True,4
2,2,18,FR,mobile,True,3
3,3,16,US,desktop,True,5
4,4,8,FR,mobile,True,5
5,5,8,US,desktop,True,7
6,6,4,DE,mobile,True,3
7,7,20,DE,desktop,True,6
8,8,16,US,desktop,True,5
9,9,18,UK,desktop,True,4

In [4]:
print(f"\nDataset shape: {df.shape}")

Dataset shape: (5003, 6)

In [5]:
print(f"\nValue counts:\n{df['country'].value_counts()}")

Value counts:
country
US    2025
UK    1084
CA     715
FR     500
DE     458
AU     218
RU       1
CN       1
BR       1
Name: count, dtype: int64